asgiref==3.12.1
Django==5.2.16
et_xmlfile==2.0.0
numpy==2.5.1
openpyxl==3.1.5
pandas==3.0.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pywin32==312
six==1.17.0
sqlparse==0.5.5
tzdata==2026.3
xlwings==0.36.10
pdfplumber==0.11.8
Pillow==12.3.0
pytesseract==0.3.13
